footer {
  background-color: #f3f3f3;
}
footer .container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .container .footer-text {
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #232323;
}
footer .container .footer-text:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/header/phone_icon.svg);
  margin-right: 10px;
  vertical-align: middle;
}
footer .container .footer-text:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/header/message_icon.svg);
  margin-right: 10px;
  vertical-align: middle;
}
footer .container .footer-text:nth-child(4)::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/header/pin_icon.svg);
  margin-right: 10px;
  vertical-align: middle;
}