.header {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-contacts span {
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.header .header-contacts span:last-child {
  margin-left: 50px;
}
.header .header-contacts span:last-child::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/header/telephone.svg);
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
.header .header-wrapper .header-call {
  vertical-align: middle;
}
.header .header-wrapper .header-menu_button {
  position: relative;
  height: 44px;
  width: 44px;
  vertical-align: middle;
  margin-left: 50px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.header .header-wrapper .header-menu_button span {
  position: absolute;
  left: 7px;
  width: 26px;
  height: 2px;
  background-color: black;
}
.header .header-wrapper .header-menu_button span:nth-child(1) {
  top: 12.5px;
}
.header .header-wrapper .header-menu_button span:nth-child(2) {
  top: 18.7px;
}
.header .header-wrapper .header-menu_button span:nth-child(3) {
  top: 24.5px;
}
.header .header-menu_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2941176471);
  z-index: 999;
  overflow-x: hidden;
}
.header .header-menu_wrapper .header-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 100%;
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .header-menu_wrapper .header-menu .header-menu_cross {
  position: absolute;
  right: 5%;
  top: 3%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.header .header-menu_wrapper .header-menu .header-menu_cross span {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 1px;
  background-color: black;
}
.header .header-menu_wrapper .header-menu .header-menu_cross span:first-child {
  rotate: -45deg;
}
.header .header-menu_wrapper .header-menu .header-menu_cross span:last-child {
  rotate: 45deg;
}
.header .header-menu_wrapper .header-menu .menu-link_list .menu-link_item {
  list-style: none;
  margin-bottom: 10px;
}
.header .header-menu_wrapper .header-menu .menu-link_list .menu-link_item:last-child {
  margin-bottom: 62px;
}
.header .header-menu_wrapper .header-menu .menu-link_list .menu-link_item a {
  text-decoration: none;
  color: #232323;
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.header .header-menu_wrapper .header-menu .menu-link_list .menu-link_item a:hover {
  color: #0F265C;
}
.header .header-menu_wrapper .header-menu .menu-contacts_list {
  padding-top: 62px;
}
.header .header-menu_wrapper .header-menu .menu-contacts_list .menu-contacts_img {
  margin-bottom: 20px;
  width: 61px;
  height: 51px;
}
.header .header-menu_wrapper .header-menu .menu-contacts_list .menu-contacts_item {
  list-style: none;
  margin-bottom: 20px;
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.header .header-menu_wrapper .header-menu .menu-contacts_list .menu-contacts_item:nth-child(3)::before {
  content: "";
  display: inline-block;
  background-image: url(../img/header/phone_icon.svg);
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 10px;
}
.header .header-menu_wrapper .header-menu .menu-contacts_list .menu-contacts_item:nth-child(4)::before {
  content: "";
  display: inline-block;
  background-image: url(../img/header/message_icon.svg);
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 10px;
}
.header .header-menu_wrapper .header-menu .menu-contacts_list .menu-contacts_item:nth-child(5)::before {
  content: "";
  display: inline-block;
  background-image: url(../img/header/pin_icon.svg);
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 10px;
}
.header hr {
  position: absolute;
  margin-left: 40px;
  width: 90%;
  left: 0%;
}