.section-partners {
  padding-bottom: 120px;
}
.section-partners .container .partners-title {
  font-family: Vela Sans;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}
.section-partners .container .partners-description {
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
}
.section-partners .container .partners-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.section-partners .container .partners-list .partners-list__item {
  width: 33%;
  margin-top: 40px;
}
.section-partners .container .partners-list .partners-list__item .partners-list__img {
  display: block;
  position: relative;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section-partners .container .partners-list .partners-list__item .partners-list__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section-partners .container .partner-mobile__slider {
  display: none;
}
.section-partners .container .partners-list__img {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}
.section-partners .container .partner-mobile__slider {
  display: none;
}