.section-services {
  background-color: #f8f8f8;
  margin-top: 120px;
  padding-bottom: 60px;
}
.section-services .container .services-title {
  font-family: Vela Sans;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding-top: 30px;
}
.section-services .container .services-title span:first-child {
  color: #8A0F0C;
}
.section-services .container .services-title span:last-child {
  color: #0F265C;
}
.section-services .container .services-wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-services .container .services-wrapper .services-content {
  background-color: #fff;
}
.section-services .container .services-wrapper .services-content .services-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-left: 40px;
}
.section-services .container .services-wrapper .services-content .services-content__list .services-list__item {
  width: 50%;
}
.section-services .container .services-wrapper .services-content .services-content__list .services-list__item .services-list__title {
  font-family: Vela Sans;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-top: 10px;
}
.section-services .container .services-wrapper .services-content .services-content__list .services-list__item .services-list__title::before {
  content: "";
  display: inline-block;
  background-image: url(../img/arrow-red.svg);
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
.section-services .container .services-wrapper .services-content .services-content__list .services-list__item .services-list__paragraph {
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #363636;
  width: 246.5px;
  margin: 0;
  margin-top: 10px;
  margin-left: 21px;
}
.section-services .container .services-wrapper .services-content .services-content__button:nth-child(2) {
  margin-left: 56px;
  margin-right: 20px;
}