footer {
  background-color: #f3f3f3;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    .footer-text {
      font-family: Vela Sans;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      color: #232323;

      &:nth-child(2)::before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        background-image: url(../img/header/phone_icon.svg);
        margin-right: 10px;
        vertical-align: middle;
      }

      &:nth-child(3)::before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        background-image: url(../img/header/message_icon.svg);
        margin-right: 10px;
        vertical-align: middle;
      }

      &:nth-child(4)::before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        background-image: url(../img/header/pin_icon.svg);
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}